[submodule "i-educar-library-package"]
	path = i-educar-library-package
	url = git@github.com:yurisawaki/i-educar-library-package.git
[submodule "i-educar-transport-package"]
	path = i-educar-transport-package
	url = git@github.com:yurisawaki/i-educar-transport-package.git
