x-php: &php
  build:
    context: docker/php
    args:
      PHP_VERSION: 8.3
      COMPOSER_VERSION: 2.7
  image: php:8.3-ieducar
  pull_policy: never
  working_dir: /var/www/ieducar
  volumes:
    - ./:/var/www/ieducar
  links:
    - postgres
    - redis
  depends_on:
    postgres:
      condition: service_started
    redis:
      condition: service_started
  environment:
    CACHE_DRIVER: redis
    REDIS_HOST: redis
    DB_HOST: postgres
    PGPASSWORD: ieducar

services:

  php:
    <<: *php
    container_name: ieducar-php
    command: tail -f /dev/null
    depends_on: []

  fpm:
    <<: *php
    container_name: ieducar-fpm

  horizon:
    <<: *php
    container_name: ieducar-horizon
    command: /var/www/ieducar/artisan horizon
    restart: always

  nginx:
    container_name: ieducar-nginx
    image: nginx:1.26-alpine
    links:
      - fpm
    working_dir: /var/www/ieducar
    volumes:
      - ./:/var/www/ieducar
      - ./docker/nginx:/etc/nginx/conf.d/
    ports:
      - ${DOCKER_NGINX_PORT:-80}:80
      - ${DOCKER_NGINX_SSL_PORT:-443}:443

  postgres:
    container_name: ieducar-postgres
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ieducar
      POSTGRES_USER: ieducar
      POSTGRES_PASSWORD: ieducar
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - ${DOCKER_POSTGRES_PORT:-5432}:5432

  redis:
    container_name: ieducar-redis
    image: redis:7-alpine
    restart: always
    ports:
      - ${DOCKER_REDIS_PORT:-6379}:6379

volumes:
    postgres:
